{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h2>Remote</h2>
        <img src="{{ sedocImageUrl }}"/>
    </div>
    <div>
        <h2>Local</h2>
        <img src="{{ downloadedFileName }}"/>
    </div>
    <hr/>
    <div>
        <h4>Is files equals: {{ isFilesEquals ? 'Yes' : 'No' }}</h4>
    </div>
{% endblock %}